.HeroSection {

    min-height: 100vh;
}

/* .TitleContainer {

    display: flex;
    flex-direction: column;
    gap: 6em;

} */

.TitleContainer {

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    justify-items: start;
    align-items: start;
}

.title {

    font-family: 'thinoo';
    font-size: var(--text-size-xl);
    color: var(--color-red);
    filter: drop-shadow(4px 5px 0px #000000);
    /* border: 2px solid #000000; */

}

.titleMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}


.cardContainer {
    /* display: flex; */
    /* flex-direction: column; */
}


.scrollableCardTop {
    box-sizing: border-box;
    height: 550px;
    overflow-y: scroll;

    /* max-width: 95%; */

}


.scrollableCardTop {

    top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    max-height: 60%;
    overflow: hidden;
    border-radius: 6px;
    justify-content: space-around;
}

.topScroll {

    display: flex;
    animation: scroll-top 15s linear infinite;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;

}
/* 
.scrollableCardTop:hover {

    animation-play-state: paused ease-in-out;
} */

.topScroll img {

    border-radius: 6px;
    width: 200px;
    margin: 10px;

}

@keyframes scroll-top {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}



.scrollableCardTop {
    top: 0;
    animation: scroll 10s linear infinite;
}




.topScroll:hover img {

    animation-play-state: paused ease-in-out;

}


.infoBar{
    /* width: 36vw; */
    height: 92px;
    margin-top: 3.5em ;

    display: flex;
    align-items: center;
    padding: 0px;
    gap: 30px;

    box-sizing: border-box;
    background: #FEFCF6;
    border: 2px solid #000000;
    border-radius: 6px;
    filter: drop-shadow(4px 5px 0px #000000);

    padding-inline:30px;
  
}

.logos{
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.875em;
    /* flex-direction: row; */
}
.logos img{
    
    width: 100%;
}

.contact{

    padding: 10px;
    border-radius: 4px;
    background-color: #000000;
    color: var(--bg-primary);
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: var(--text-size-xs);
    line-height: 20px;

}



@media only screen and (max-width:1920px) {}

@media only screen and (max-width:1200px) {}

@media only screen and (max-width:992px) {

}

@media only screen and (max-width : 880px) {}
@media only screen and (max-width : 800px) {
    .TitleContainer{
        display: flex;
        flex-direction: column;
    }
    .scrollableCardTop{
      
        /* max-height: 20%; */
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        height: 300px;
       
        overflow-X: hidden;
    }

    .topScroll{

        display: inline-block;
        white-space: nowrap;
        animation: scroll-left 15s linear infinite;
    }
    .topScroll img{
        width: 150px;
    }


    @keyframes scroll-left {
        0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-100%);
            }
    }

    .logos{

        gap: 25px;
        /* grid-template-columns: 1fr 1fr 1fr; */

    }



}

@media only screen and (max-width:620px) {
    .infoBar{
        border-radius: 4px;
    }

    .scene {
        display: relative;
        width: 800px;
        height: 800px;
        perspective: 800px;
    }
    
    /* .infoBar{
        width: 360px;
        height: 78px;
        
    } */
  
 
}

@media only screen and (max-width:450px) {
    .title{
        font-size: var(--text-size-l);
        filter: drop-shadow(3px 4px 0px #000000);
      }
      .infoBar{
        flex-direction: column;
        height: fit-content;
      }
      .contact{
        margin-top: 10px;

    }
    .logos{
        margin-bottom: 10px;
    }

  
  
}