.HeroSection {

    min-height: 100vh;
}

.container {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 6em;

}

.TitleContainer {

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    justify-items: start;
    align-items: start;
}

.title {

    font-family: 'thinoo';
    font-size: var(--text-size-xl);
    color: var(--color-red);
    filter: drop-shadow(4px 5px 0px #000000);
    /* border: 2px solid #000000; */

}

.titleMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}


.cardContainer {
    display: flex;
    /* flex-direction: column; */
}


.scrollableCardTop,
.scrollableCardBottom {
    box-sizing: border-box;
    height: 550px;
    overflow-y: scroll;

}


.scrollableCardTop {

    top: 10em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    max-height: 60%;
    overflow: hidden;
    border-radius: 6px;
    /* border: 2px solid #000000; */
    /* width: 70%;  */
    justify-content: space-around;
}

.topScroll {

    display: flex;
    animation: scroll-top 15s linear infinite;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;

}


.topScroll img {

    border-radius: 12px;
    width: 200px;
    margin: 10px;

}

@keyframes scroll-top {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}


.scrollableCardBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    max-height: 50%;
    overflow: hidden;

    bottom: 0;
}

.bottomScroll {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    animation: scroll-bottom 15s linear infinite;
}

.bottomScroll img {
    border-radius: 12px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);

    width: 200px;
    margin: 10px;
}

@keyframes scroll-bottom {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}


.scrollableCardTop {
    top: 0;
    animation: scroll 10s linear infinite;
  }
  
  .scrollableCardBottom {
    bottom: 0;
    animation: bottom-scroll 10s linear infinite;
  }
  
/* 
.marquee:hover {

    animation-play-state: paused ease-in-out;
} */


.infoBar{
    width: 496px;
    height: 92px;
    margin-top: 4em ;

    display: flex;
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    align-items: center;
    padding: 0px;
    gap: 30px;

    box-sizing: border-box;
    background: #FEFCF6;
    border: 2px solid #000000;
    border-radius: 6px;
    filter: drop-shadow(4px 5px 0px #000000);

    padding-inline:30px;
  
}
.logos{
    display: flex;
    gap: 30px;
    /* flex-direction: row; */
}
.contact{

  
    padding: 10px;
    border-radius: 6px;
    background-color: #000000;
    color: var(--bg-primary);
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: var(--text-size-xs);
    line-height: 20px;

}



@media only screen and (max-width:1920px) {}

@media only screen and (max-width:1200px) {}

@media only screen and (max-width:992px) {

}

@media only screen and (max-width : 880px) {}

@media only screen and (max-width:620px) {

    .scene {
        display: relative;
        width: 800px;
        height: 800px;
        perspective: 800px;
    }



}

@media only screen and (max-width:450px) {}