.blogPage{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.blogHeader{
    display: grid;
    grid-template-areas: 
    "logo title"
    "descp descp";
    gap: 15px;
}
.blogHeaderLogo{
    font-family: 'thinoothin';
    grid-area: logo;
    font-size: var(--text-size-xxm);
    color:var(--color-red);
    filter: drop-shadow(2px 2px 0px #000000);
    
}

.blogHeaderTitle{
    font-family: 'thinoothin';
    grid-area: title;
    font-size: var(--text-size-xl);
    color: #FFC93C;
    justify-self: right;
    filter: drop-shadow(5px 5px 0px #000000);

}
.blogHeaderDescp{
    grid-area: descp;
    width: min(50%,75vw);
    text-align: right;
    justify-self: right;
    font-size: var(--text-size-xs);
    letter-spacing: var(--letter-spacing-m);

    /* font-size: var(--text-size-xxs); */
}
.blogCards:last-child{
    margin-bottom: 25%;
}

.blogContent{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: justify;
    margin-top: 2em;
}

.blogPageTitle{
    margin-top: 1em;
    font-size: var(--text-size-l);
    font-weight: bold;
    text-align: center;
    gap: 1em;
}
@media screen and (max-width:850px){
    .blogHeaderTitle{
        /* font-size: var(--text-size-xm); */
    }
    .blogHeaderDescp{
        width: 70%;
    }
}
@media screen and (max-width:660px){
    .blogHeaderTitle{
        font-size: var(--text-size-lm);
    }
    .blogHeaderDescp{
        font-size: var(--text-size-xxs);
        /* width: 70%; */
    }
    .blogHeader{
        gap: 2px;
    }
}

@media screen and (max-width:420px){
    .blogHeaderLogo{
        filter: drop-shadow(1px 1px 0px #000000);
        font-size: var(--text-size-m);

    }
    .blogHeaderTitle{
        filter: drop-shadow(3px 3px 0px #000000);
        font-size: var(--text-size-xxm);
    }
    .blogHeaderDescp{
        font-size: var(--text-size-xxxs);
        /* width: 70%; */
    }
    .blogHeader{
        gap: 0px;
    }
}