.blogPage{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.blogHeader{
    display: grid;
    grid-template-areas: 
    "logo title"
    "descp descp";
    gap: 10px;
}
.blogHeaderLogo{
    font-family: 'thinoothin';
    grid-area: logo;
    font-size: var(--text-size-xxm);
    color:var(--color-red);
    filter: drop-shadow(1px 2px 0px #000000);
    
}

.blogHeaderTitle{
    font-family: 'thinoothin';
    grid-area: title;
    font-size: var(--text-size-xl);
    color: #FFC93C;
    justify-self: right;
    filter: drop-shadow(4px 5px 0px #000000);

}
.blogHeaderDescp{
    grid-area: descp;
    width: min(50%,75vw);
    text-align: right;
    justify-self: right;
    letter-spacing: var(--letter-spacing-m);

    /* font-size: var(--text-size-xxs); */
}
.blogCards:last-child{
    margin-bottom: 25%;
}

.blogContent{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: justify;
    margin-top: 2em;
}

.blogPageTitle{
    margin-top: 1em;
    font-size: var(--text-size-l);
    font-weight: bold;
    text-align: center;
    gap: 1em;
}
@media screen and (max-width:850px){
    .blogHeaderTitle{
        font-size: var(--text-size-xm);
    }
    .blogHeaderDescp{
        width: 100%;
    }
}