.App {
    max-width: 100vw;
    overflow: hidden;

    transition: all 0.5s ease-out;
    transition: 1s;

    padding: 5em;

}

/* div {
    border: 1px solid red;
} */

@media only screen and (max-width:620px) {
    .App {
        padding: 2em;
    }

}