
/* Default Colors and Sizes */
:root {

    --bg-primary: #FEFCF6;
    --bg-primary-dark: #111111;
    --text-white: #FFFFFF;
    --text-black: #000000;
    --text-white-50: #888888;

    --color-blue: #2CADE4;
    --color-red: #C72436;
    --color-darkGreen: #002121;

    --letter-spacing-m: -0.08em;
    --letter-spacing-l: -0.04em;

    --text-size-xl: 7.5em;
    --text-size-m: 1.625em;
    --text-size-s: 1.5em;
    --text-size-xs: 20px ;
    --text-size-xxs: 14px ;

}

/* Fonts */

/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'thinoo'; */
@font-face {
    font-family: 'thinoobold';
    src: url(../src/assets/font/thinoo/thinoobold.otf) format('opentype');
}
@font-face {
    font-family: 'thinoothin';
    src: url(../src/assets/font/thinoo/thinoothin.otf) format('opentype');

}


/* Default Behaviour */
html {
    scroll-behavior: smooth;
}

* {

    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    box-sizing: border-box;
    line-height: normal;

    font-family: 'inter';
}

body{
    padding: 0;
    margin: 0;

    background-color: var(--bg-primary);
    color: var(--text-black);

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  
}